@model department
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="text-center text-primary">Edit Department</h1>

@using (Html.BeginForm("EditDepartment", "DepartmentHelper", FormMethod.Post))
{

    @*@Html.LabelFor(m=>m.Number,new {@class = "form-label"})*@
    @Html.HiddenFor(m=>m.Number,new {@class = "form-control"})

    @Html.LabelFor(m=>m.Name,new {@class = "form-label"})
    @Html.TextBoxFor(m=>m.Name,new {@class = "form-control"})

    @Html.LabelFor(m=>m.startdate)
    @Html.EditorFor(m=>m.startdate,new{HtmlAttributes= new{@class = "form-control"}})

    @Html.LabelFor(m=>m.employeeSSN)
    @Html.DropDownListFor(m=>m.employeeSSN,ViewBag.Employees as SelectList,"choose one",new {@class = "form-control"})


    <input type="submit" value="Edit" />
}